/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
  font-family: 'poppins';
}

.poppinsLight {
  font-family: 'poppins-light' !important;
}

@font-face {
  font-family: 'poppins';
  src: url('../assets/fonts/Poppins-Regular.otf');
} 
@font-face {
  font-family: 'poppins-Medium';
  src: url('../assets/fonts/Poppins-Medium.otf');
} 
@font-face {
  font-family: 'poppins-light';
  src: url('../assets/fonts/Poppins-Light.otf');
} 
@font-face {
  font-family: 'poppins-italic';
  src: url('../assets/fonts/Poppins-Italic.otf');
} 
@font-face {
  font-family: 'poppins-ExtraBold';
  src: url('../assets/fonts/Poppins-ExtraBold.otf');
} 
@font-face {
  font-family: 'poppins-ExtraBoldItalic';
  src: url('../assets/fonts/Poppins-ExtraBoldItalic.otf');
} 
@font-face {
  font-family: 'poppins-bold';
  src: url('../assets/fonts/Poppins-Bold.otf');
} 



